In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df =pd.read_csv('C:/Users/lenovo/Desktop/SpecialTopicsProject/dataset/Viral_Social_Media_Trends.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5000 non-null   int64
 1   Platform          5000 non-null   int64
 2   Hashtag           5000 non-null   int64
 3   Region            5000 non-null   int64
 4   Engagement_Level  5000 non-null   int64
dtypes: int64(5)
memory usage: 195.4 KB

In [4]:
df.shape

(5000, 5)

In [5]:
df.describe()

        Unnamed: 0     Platform      Hashtag       Region  Engagement_Level
count  5000.000000  5000.000000  5000.000000  5000.000000        5000.00000
mean   2499.500000     2.494400     5.456400     4.441800           2.01120
std    1443.520003     1.111673     2.860163     2.276499           0.82487
min       0.000000     1.000000     1.000000     1.000000           1.00000
25%    1249.750000     1.000000     3.000000     3.000000           1.00000
50%    2499.500000     3.000000     5.000000     4.000000           2.00000
75%    3749.250000     3.000000     8.000000     6.000000           3.00000
max    4999.000000     4.000000    10.000000     8.000000           3.00000

In [6]:
df.isnull().sum()

Unnamed: 0          0
Platform            0
Hashtag             0
Region              0
Engagement_Level    0
dtype: int64

In [7]:
print(df)

      Unnamed: 0  Platform  Hashtag  Region  Engagement_Level
0              0         1        1       1                 1
1              1         2        4       8                 2
2              2         4        1       5                 2
3              3         3        4       6                 3
4              4         1        3       5                 2
...          ...       ...      ...     ...               ...
4995        4995         3        4       2                 1
4996        4996         2        4       1                 2
4997        4997         3        5       3                 3
4998        4998         2        7       4                 3
4999        4999         2        5       2                 3

[5000 rows x 5 columns]

In [8]:
df_encoded = pd.get_dummies(df, columns=['Platform', 'Hashtag', 'Region'])

In [9]:
X = df_encoded.drop('Engagement_Level', axis=1)
y = df_encoded['Engagement_Level']

In [9]:
df=df.drop(['Post_ID','Content_Type','Views','Likes','Shares','Comments'],axis=1)

In [10]:
print(df)

      Unnamed: 0  Platform  Hashtag  Region  Engagement_Level
0              0         1        1       1                 1
1              1         2        4       8                 2
2              2         4        1       5                 2
3              3         3        4       6                 3
4              4         1        3       5                 2
...          ...       ...      ...     ...               ...
4995        4995         3        4       2                 1
4996        4996         2        4       1                 2
4997        4997         3        5       3                 3
4998        4998         2        7       4                 3
4999        4999         2        5       2                 3

[5000 rows x 5 columns]

In [11]:
#Mapping categorical string value to numerical code
#converting 'Platform' to numbers:TikTok=1,Instagram=2,YouTube=3,Twitter=4
df['Platform']=df['Platform'].map({'TikTok':1,'Instagram':2,'YouTube':3,'Twitter':4})

In [12]:
print(df)

      Platform     Hashtag     Region Engagement_Level
0            1  #Challenge         UK             High
1            2  #Education      India           Medium
2            4  #Challenge     Brazil           Medium
3            3  #Education  Australia              Low
4            1      #Dance     Brazil           Medium
...        ...         ...        ...              ...
4995         3  #Education      Japan             High
4996         2  #Education         UK           Medium
4997         3    #Fashion        USA              Low
4998         2     #Gaming     Canada              Low
4999         2    #Fashion      Japan              Low

[5000 rows x 4 columns]

In [13]:
#Engagement_Level:High=1,Medium=2,Low=3
#Region: UK=1,Japan=2,USA=3,Canada=4,Brazil=5,Australia=6,Germany=7,India=8
df['Engagement_Level']=df['Engagement_Level'].map({'High':1,'Medium':2,'Low':3})
df['Region']=df['Region'].map({'UK':1,'Japan':2,'USA':3,'Canada':4,'Brazil':5,'Australia':6,'Germany':7,'India':8})

In [14]:
print(df)

      Platform     Hashtag  Region  Engagement_Level
0            1  #Challenge       1                 1
1            2  #Education       8                 2
2            4  #Challenge       5                 2
3            3  #Education       6                 3
4            1      #Dance       5                 2
...        ...         ...     ...               ...
4995         3  #Education       2                 1
4996         2  #Education       1                 2
4997         3    #Fashion       3                 3
4998         2     #Gaming       4                 3
4999         2    #Fashion       2                 3

[5000 rows x 4 columns]

In [15]:
#Hashtag:#Challenge:1,#Comedy:2,#Dance:3,#Education:4,#Fashion:5,#Fitness:6,#Gaming:7,#Music:8,#Tech:9,#Viral:10
df['Hashtag'] =df['Hashtag'].map({'#Challenge':1,'#Comedy':2,'#Dance':3,'#Education':4,'#Fashion':5,'#Fitness':6,'#Gaming':7,'#Music':8,'#Tech':9,'#Viral':10})

In [16]:
print(df)

      Platform  Hashtag  Region  Engagement_Level
0            1        1       1                 1
1            2        4       8                 2
2            4        1       5                 2
3            3        4       6                 3
4            1        3       5                 2
...        ...      ...     ...               ...
4995         3        4       2                 1
4996         2        4       1                 2
4997         3        5       3                 3
4998         2        7       4                 3
4999         2        5       2                 3

[5000 rows x 4 columns]

In [11]:
df.to_csv('C:/Users/lenovo/Desktop/SpecialTopicsProject/dataset/Viral_Social_Media_Trends.csv')